<form [formGroup]="changeForm">
   User Name: <input type="text" name="" id="" formControlName="username" class="form-control"><br>
<input type="button" value="Generate Otp" class="btn btn-info" (click)="fnGenerateOtp()">
<br>
Enter the otp: <input type="text" name="" id="" formControlName="otp" class="form-control">
Password: <input type="password" name="" id="" formControlName="password" class="form-control">
Confirm Password: <input type="password" name="" id="" formControlName="cpassword" class="form-control">
<br>
<input type="button" value="Change Password" class="btn btn-success" (click)="fnChangePassword()">
</form>
<br>
<img *ngIf="showTimer" width="100" height="100" src="/assets/images/ajax-loader2.gif" alt="">